# LAB 1

In [1]:
print("hey jupyter");

hey jupyter

In [2]:
a=21
b=9
print("sum=",a+b)

sum= 30

In [3]:
a=21.9
b=9
print("sum=",a+b)

sum= 30.9

In [4]:
a='x'
b=9
print("sum =", a+b)

TypeError: can only concatenate str (not "int") to str

In [5]:
a='x'
b='y'
print("sum =",a+b)

sum = xy

# LAB 2

In [8]:
value=int(input("Enter the number:"))
if((value%2)==0):
    print("The number is even.")
else:
    print("The number is odd.")

Enter the number:5
The number is odd.

In [9]:
year=int(input("Enter the year"))
if(((year%4)==0)and((year%100)!=0)or((year%400)==0)):
    print("The year is a leap year.")
else:
    print("It is not a leap year.")

Enter the year2020
The year is a leap year.

In [10]:
var=input("Enter the character:")
if((var=='A')or(var=='I')or(var=='O')or(var=='U')or(var=='E')or(var=='a')or(var=='e')or(var=='i')or(var=='o')or(var=='u')):
    print(var, "is a vowel.")
else:
    print(var, "is a consonant.")

Enter the character:A
A is a vowel.

In [11]:
num1=int(input("Enter the number:"))
num2=int(input("Enter another number"))
if(num1<num2):
    print(num1,"is smaller than",num2)
elif(num2<num1):
    print(num2,"is smaller than",num1)
else:
    print(num1,"is equal to",num2)

Enter the number:5
Enter another number5
5 is equal to 5

In [12]:
num=int(input("Enter the number"))
fact=1
for i in range(1,num+1):
    fact*=i
print("The factorial of",num,"is",fact)

Enter the number5
The factorial of 5 is 120

In [13]:
nterms=int(input("How many terms"))

n1, n2 = 0, 1
count = 0

if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms7
Fibonacci sequence:
0
1
1
2
3
5
8

In [14]:
num=int(input("Enter the number"))
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
else:
   print(num,"is not a prime number")

Enter the number5
5 is a prime number

In [15]:
print("Print full Triangle pyramid using stars ")
size = 4
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print full Triangle pyramid using stars
      *
     *  *
    *  *  *
   *  *  *  *

In [16]:
def add(x,y):
    return x+y

def sub(x,y):
    return x-y

def mul(x,y):
    return x*y

def div(x,y):
    return x/y

print("Select one of the command:")
print("1.Add")
print("2.Sub")
print("3.Multiply")
print("4.Divide")

choice=input("Choose one of the command:")

num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))

if(choice=="1"):
    print(num1,"+",num2,"=", add(num1,num2))
elif(choice=="2"):
    print(num1,"-",num2,"=", sub(num1,num2))
elif(choice=="3"):
    print(num1,"*",num2,"=", mul(num1,num2))
elif(choice=="4"):
    print(num1,"/",num2,"=", div(num1,num2))
else:
    print("Invalid command")

Select one of the command:
1.Add
2.Sub
3.Multiply
4.Divide
Choose one of the command:1
Enter the first number:5
Enter the second number:5
5 + 5 = 10

# LAB 3

In [17]:
str = input("Enter a string: ")

counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: harsh
Length of the input string is: 5

In [20]:
str = input("Enter the string : ")
total = 0
 
for i in str:
    total = total + 1
 
print("Total Number of Characters in this String = ", total)

Enter the string : harsh chhikara
Total Number of Characters in this String =  14

In [4]:
var=input("Enter the string:")
ans=var[0:2]+var[-2:]
if(len(var)<2):
    print(ans)
else:
    print(ans)

Enter the string:harsh chhikara
hara

In [3]:
n=input("Enter the string:")
firstchar=n[0]
newN=n.replace(firstchar,"$")
print(firstchar+newN[1: ])

Enter the string:abcdabgfaytr
abcd$bgf$ytr

In [1]:
x=input("Enter the string:")
y=input("Enter the string:")
print(y[0:1]+x[1: ], x[0:1]+y[1: ])

Enter the string:abhinav
Enter the string:wadhwa
wbhinav aadhwa

# lab 4

In [7]:
tup1=23,46,"False",1234,True
print(tup1)
print(type(tup1))

(23, 46, 'False', 1234, True)
<class 'tuple'>

In [8]:
tup1=23,46,"False",1234,True
print(tup1[2])

False

In [9]:
tup1=23,46,"False",1234,True
print(tup1[-1])

True

In [11]:
tup1=23,46,"False",1234,True,"apple"
print(tup1[2:5])

('False', 1234, True)

In [1]:
tup1=23,46,"False",1234,True,"apple","mango"
print(tup1[-4:-1])

(1234, True, 'apple')

In [2]:
tup1=23,46,"False",1234,True,"apple","mango"
y=list(tup1)
y[1]="Kiwi"
tup1=tuple(y)
print(tup1)

(23, 'Kiwi', 'False', 1234, True, 'apple', 'mango')

In [3]:
tuple=23,46,"False",1234,True,"apple","mango"
tup1[1]="kiwi"
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [4]:
tup1=23,46,"False",1234,True,"apple","mango"
for x in tup1:
    print(tup1)

(23, 46, 'False', 1234, True, 'apple', 'mango')
(23, 46, 'False', 1234, True, 'apple', 'mango')
(23, 46, 'False', 1234, True, 'apple', 'mango')
(23, 46, 'False', 1234, True, 'apple', 'mango')
(23, 46, 'False', 1234, True, 'apple', 'mango')
(23, 46, 'False', 1234, True, 'apple', 'mango')
(23, 46, 'False', 1234, True, 'apple', 'mango')

In [5]:
tup1=23,46,"False",1234,True,"apple","mango"
if "apple" in tup1:
    print("element present")

element present

In [6]:
tup1=23,46,"False",1234,True,"apple","mango"
print(len(tup1))

7

# ques 1

In [7]:
tup=23,46,"Random"
print(tup)

(23, 46, 'Random')

# ques 2

In [10]:
tup=23,46,"Random",2.6
print(tup)

(23, 46, 'Random', 2.6)

# ques 3

In [9]:
tup= 5, 10, 15, 20, 25
print(tup)
tup= 5,
print(tup)

(5, 10, 15, 20, 25)
(5,)

# ques 4

In [16]:
tup=4,8,3
print(tup)
n1,n2,n3=tup
print(n1 + n2 + n3)
n1, n2, n3, n4= tup

(4, 8, 3)
15

ValueError: not enough values to unpack (expected 4, got 3)

# lab 5

# Ques 1

In [1]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Sum of elements in given list is :", sum(lst))

How many numbers: 5
Enter number 2
Enter number 3
Enter number 4
Enter number 5
Enter number 6
Sum of elements in given list is : 20

# Ques 2

In [2]:
def mul_list(items):
    mul_num = 1
    for x in items:
        mul_num *= x
    return mul_num
print(mul_list([2,3,5]))

30

# Ques 3

In [3]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([2,3,-2,7,2,4]))

7

# Ques 4

In [4]:
def min_num_in_list( list ):
    min = list[ 0 ]def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 2 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221','cdc','bab','dad']))
    for a in list:
        if a < min:
            min = a
    return min
print(min_num_in_list([2,3,5,-2,4,7]))

-2

# Ques 5

In [5]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 2 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221','cdc','bab','dad']))

5


# Ques 6

In [6]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Ques 7

In [7]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(Remove(duplicate))

[2, 4, 10, 20, 5]

# Ques 8

In [10]:
def Enquiry(lis1): 
    if len(lis1) == 0: 
        return 0
    else: 
        return 1
          
lis1 = [] 
if Enquiry(lis1): 
    print ("The list is not empty") 
else: 
    print("Empty List")

Empty List

# Ques 9

In [11]:
def Cloning(li1): 
    li_copy = li1[0:5] 
    return li_copy 
   
li1 = [4, 8, 2, 10, 15, 18] 
li2 = Cloning(li1) 
print("Original List:", li1) 
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15]

# Ques 10

In [12]:
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

# Ques 11

In [13]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

# LAB 6

# Dictionary

In [1]:
thisdict={"brand":"ford","model":"mustang","year":"1964"}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}

In [15]:
thisdict={"brand":"ford","model":"mustang","year":"1964"}
thisdict["model"]= "ecosport"

In [2]:
thisdict.pop("model")

'mustang'

In [3]:
thisdict.pop("year")

'1964'

In [6]:
if "model" in thisdict:
    print("value exists")
thisdict.clear()
thisdict["year"]=2008

In [7]:
thisdict.pop("year")

2008

In [18]:
if "model" in thisdict:
    print("value exists")
thisdict.clear()
thisdict["model"]="ecosport"

In [19]:
thisdict.pop("model")

'ecosport'

In [3]:
if "model" in thisdict:
    print("value exists")
else:
    print("not exists")

NameError: name 'thisdict' is not defined

In [2]:
thisdict.popitem("ecosport")

NameError: name 'thisdict' is not defined

In [1]:
#Q1. create a dcitionary
class1 ={"A": 47, "B": 46, "C": 33}
print(class1)

{'A': 47, 'B': 46, 'C': 33}

In [2]:
#Q2. print roll numbers and names of a dictionary
class2= {12 :"abhinav", 31:"sachin", 33:"harsh"}
print(class2)

{12: 'abhinav', 31: 'sachin', 33: 'harsh'}

In [3]:
#Q3. print all elements of a dictionary
dict1={"A": 47, "B": 46, "C": 33}
print(dict1.items())

dict_items([('A', 47), ('B', 46), ('C', 33)])

In [4]:
#Q4.delete an element from a dictionary.
dict1={"A": 47, "B": 46, "C": 33}
del dict1["A"]
print(dict1)

{'B': 46, 'C': 33}

In [5]:
#Q5. print elements of a dictionary using for loop
for key, value in class2.items():
    print(key,value)

12 abhinav
31 sachin
33 harsh

In [6]:
# Q6. use if loop
dict2={"mango":"fruit", "banana": "fruit", "tomato":"veggie", "potato":"veggie"}
print(dict2)
if ('mango in dict2'):
    print("mango is a fruit")
else:
    ('nope nope')

{'mango': 'fruit', 'banana': 'fruit', 'tomato': 'veggie', 'potato': 'veggie'}
mango is a fruit

In [7]:
# Q7. printing a single value
dict1={"A":42, "b":33, "C":5}
dict1["A"]='x'
print(dict1)

{'A': 'x', 'b': 33, 'C': 5}

In [8]:
# Q8. 
dict1={"A":[1,2,3,4], "b":[5,6,7], "C":[8,9,0]}
print(dict1.items())

dict_items([('A', [1, 2, 3, 4]), ('b', [5, 6, 7]), ('C', [8, 9, 0])])

In [9]:
#Q9.
dict1={"A":[1,2,3,4], "B":[5,6,7], "C":[8,9,0]}
print(dict1.items())

dict_items([('A', [1, 2, 3, 4]), ('B', [5, 6, 7]), ('C', [8, 9, 0])])

In [10]:
# Q10. compare
dict1={"A":20, "B":15, "C":12}
dict2={"A":12, "B":32, "C":44}
print(dict1, dict2)

{'A': 20, 'B': 15, 'C': 12} {'A': 12, 'B': 32, 'C': 44}

In [11]:
#Q11. square of keys
dict1={}
for key in range(1,11):
    dict1[key]=key*key
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
#Q12.
dcit={"A":12, 1:77, 5:{"B":22, "C":32}}
print(dcit)

{'A': 12, 1: 77, 5: {'B': 22, 'C': 32}}

In [13]:
#Q13.
d1={1:"A", "b":"er"}
d2={2:"B","der":5}
d3={3:"F"}
d4={}
for d in (d1, d2, d3):
    d4.update(d)
print(d4)

{1: 'A', 'b': 'er', 2: 'B', 'der': 5, 3: 'F'}

In [15]:
#Q14. sum
d1={"A":"ser", "C":33}
d2={5:"erf", "S":5}

# LAB 7

In [1]:
thisset={"a","b","c","f","r"}

In [2]:
print(thisset)

{'b', 'c', 'r', 'f', 'a'}

In [4]:
thisset.remove("a")

In [5]:
print(thisset)

{'b', 'c', 'r', 'f'}

In [6]:
thisset.discard("d")

In [7]:
thisset.remove("e")

KeyError: 'e'

In [8]:
thisset.discard("c")

In [10]:
print(thisset)

{'b', 'r', 'f'}

In [12]:
print(len(thisset))

3

In [13]:
thisset.add("z")

In [14]:
print(thisset)

{'z', 'b', 'r', 'f'}

In [15]:
thisset.update(["p","q","r"])

In [16]:
print(thisset)

{'p', 'z', 'b', 'q', 'r', 'f'}

In [18]:
thisset.add("t")

In [19]:
print(thisset)

{'p', 'z', 'b', 'q', 't', 'r', 'f'}

In [21]:
print("a" in thisset)

False

In [24]:
item=thisset.pop()

In [25]:
print(item)

z

In [26]:
print(thisset)

{'b', 'q', 't', 'r', 'f'}

In [27]:
set2={"1","2","3","4"}

In [28]:
set3=thisset.union(set2)

In [29]:
print(set3)

{'2', 'b', '1', 'q', 't', 'r', '4', 'f', '3'}

In [43]:
set3=thisset.intersection(set2)

In [44]:
print(set3)

set()

In [49]:
thisset.update(["1","3"])

In [50]:
print(thisset)

{'b', '1', 'q', 't', 'r', 'f', '3'}

In [51]:
set3=thisset.intersection(set2)

In [52]:
print(set3)

{'1', '3'}

In [53]:
set4=set2.difference(set3)

In [54]:
print(set4)

{'2', '4'}

# LAB 7

In [18]:
#creating a class in python
class ABC:
    var=" create a class"
    
    def fun1(self):
        print(self.var)
ob1= ABC()

In [19]:
ob1.fun1()

 create a class

In [20]:
ob1.var
print(ob1.var)

 create a class

In [21]:
#create class student
class Student:
    name=""
    rollno=""
    marks=100
    def basic_profile(self):
        return (self.name, self.rollno, self.marks)
st=Student()
st.name="abhinav"
st.rollno=1142
st.marks=88
st.basic_profile()

('abhinav', 1142, 88)

In [22]:
#Q1.Write a Python program that create a class tringle and define two methods, create_triangle() and print_sides().
class Triangle:
    a=0
    b=0
    def create_triangle(self, s1, s2):
        self.a=s1
        self.b=s2
    def print_sides(self):
        print(self.a)
        print(self.b)
ob1=Triangle()
ob1.create_triangle(10,20)
ob1.print_sides()

10
20

In [23]:
#Q3. Write a Python program to create a class Rectangle that takes the parameter length and width.
#The class should also contain a method for computing its perimeter.
class Rectangle:
    length=0.0
    width=0.0
    per=0.0
    def rect_values(self,l,w):
        self.length=l
        self.width=w
    def perimeter(self):
            self.per=2*self.length*self.width
            return(self.per)
r1=Rectangle()
r1.rect_values(20,40)
k=r1.perimeter()
print("perimeter",k)

perimeter 1600

In [24]:
#Q4. .  Write a Python program to create a class Circle  that takes the parameter radius.
#The class should also contain two methods for computing its area & perimeter respectively.
class Circle:
    radius=0
    area=0
    per=0
    def circ_rad(self,radius):
        self.radius=radius
    def perimeter(self):
        self.per=2*3.14*self.radius
        return(self.per)
    def area(self):
        self.area=3.14*self.radius**2
        return(self.area)
c1=Circle()
c1.circ_rad(14)
k=c1.perimeter()
l=c1.area()
print("perimeter",k)
print("area",l)

perimeter 87.92
area 615.44

# LAB 9

In [25]:
#Q1.Write a Python program that has a class Animal with a method legs().
#Create two subclasses Tiger and Dog, access the method leg explicitly with class Dog and implicitly with the class Tiger.  
class Animal:
    def legs(self):
        print("animals have 4 legs")
class Tiger(Animal):
    pass
class Dog(Animal):
    Animal().legs()
Tiger().legs()

animals have 4 legs
animals have 4 legs

In [26]:
#Q2.Write a Python program to create a class Employee. Define two subclasses: Engineer and Manager. 
#Every class should have method named printDesignation() that prints Engineer for Engineer class and Manager for Manager Class.
class Employee:
    def printDesignation():
        pass
class Engineer(Employee):
    def printDesignation():
        print("engineer")
class Manager(Employee):
    def printDesignation():
        print("manager")
Engineer.printDesignation()
Manager.printDesignation()

engineer
manager

In [27]:
#Q3.Write a Python program to demonstrate Inheritance and method overriding.
class P:
    def __init__(self):
        self.p="parent class"
    def show(self):
        print(self.p)
class C(P):
    def _init_self(self):
        self.p= "child class"
    def sho(self):
        print(self.p)
new= P()
new1=C()
new.show()
new1.show()

parent class
parent class

In [28]:
#Q4.Write a Python program to demonstrate multiple Inheritance.
class A:
    def m(self):
        print("A")
class B:
    def n(self):
        print("B")
class C(A,B):
    def o(self):
        print("C")
x= C()
x.m()
x.n()
x.o()

A
B
C